* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s, color 0.3s;
  background-color: #ddd;
}

.main-container {
  background-color: #fff;
  margin: 0 auto;
  max-width: 60%;
  min-width: 700px;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

header {
  background-color: #4fb9ff;
  padding: 10px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

header a {
  text-decoration: none;
  color: #fff;
}

.logo {
  max-height: 10vh; /* Adjust the max height of the logo as needed */
}

.dark-mode-toggle {
  background-color: #4fb9ff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.header-text {
  flex-grow: 1; /* Let the text take up available space */
}

.content-container {
  display: flex;
  min-height: 79vh;
  padding: 1%;
}

main {
  flex: 2;
  background-color: #ffffff;
  margin-right: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4fb9ff;
  padding: 10px;
  color: #fff;
  width: 100%;
  height: 5vh;
}

.category {
  border: 1px solid #4fb9ff;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.category-link {
  text-decoration: none;
  color: #111;
}

.category:hover {
  background-color: #4fb9ff;
  color: #fff;
}

.recent-posts {
  background-color: #fcfcfc;
  padding: 20px;
  border: 1px solid #4fb9ff;
  display: flex;
  flex-direction: column;
}

.recent-posts-title {
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.post-box {
  border: 1px solid #4fb9ff;
  padding: 10px;
  margin-bottom: 10px;
}

.post-content {
  margin-bottom: 5px;
}

.last-post {
  font-style: italic;
  color: #555;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode .main-container {
  background-color: #222;
}

body.dark-mode main {
  background-color: #111;
}

body.dark-mode h2 {
  color: #fff;
}

body.dark-mode .last-post {
  color: #bbb;
}

body.dark-mode .recent-posts {
  background-color: #222;
  border: 1px solid #aaa;
  color: #ddd;
}

body.dark-mode .recent-posts-title {
  color: #ddd;
}

body.dark-mode .post-box {
  border: 1px solid #aaa;
}

body.dark-mode .nav-bar {
  border-color: #111;
}

.nav-bar {
  background-color: #4fb9ff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 4px solid #fff;
  height: 6vh;
}

.nav-link {
  display: flex;
  gap: 6px;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 0.3s;
}

.nav-link span {
  color: #00008c;
}

.nav-link.active,
.nav-link:hover {
  background-color: #fff;
  color: #4fb9ff;
}

/********************************************************************************/

.landing-page-container {
  background-color: #4fb9ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 100vh;
}

.landing-page-container a {
  transition: transform 0.2s ease;
}

.landing-page-container a:hover {
  transform: scale(1.5);
}

.landing-page-container h1 {
  font-size: 50px;
  color: #fff;
}

h2 span {
  color: red;
}

/****************************************************************************** USER ***********************/

.user-login-page-wrapper,
.user-register-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 20px;
  min-width: 35%;
  height: 500px;
  padding: 5%;
  border: #4fb9ff 1px solid;
}

.user-login-form,
.user-register-form {
  width: 100%;
}

.user-login-form form,
.user-register-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.user-login-form form input,
.user-register-form form input {
  width: 100%;
  padding: 5px;
}

.user-login-register {
  display: flex;
  gap: 4px;
}

.user-login-form-group,
.user-register-form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.passwords-dont-match-placeholder {
  height: 6px;
}

.passwords-dont-match {
  font-size: 12px;
  color: red;
}

.user-login-form button,
.user-register-form button {
  width: 100px;
  margin-inline: auto;
  padding: 8px;
  background-color: #4fb9ff;
  color: #fff;
  border: none;
}

.user-login-form button:hover,
.user-register-form button:hover {
  background-color: #4fb9ffc9;
  cursor: pointer;
}

.password-tooltip:after {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  border: 10px solid #ededa2;
  border-color: transparent #ededa2 transparent transparent;
}

.password-tooltip {
  top: -46px !important;
  right: -266px !important;
  border-radius: 6px;
  background-color: #ededa2 !important;
  color: black !important;
  font-size: 12px;
}
